<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ATT</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div class="purple-section">
    <ion-icon name="people-circle-outline" class="people"></ion-icon>
    <ion-title name="nombre_usuario">Usuario a.</ion-title>
    <ion-label name="email">Usuario.A@gmail.com</ion-label>
  </div>
  <div class="black-section">
    <ion-button class="round-button"><ion-icon name="people-outline" class="icon-button"></ion-icon></ion-button>
    <ion-button class="round-button"><ion-icon name="mail-outline" class="icon-button"></ion-icon></ion-button>
    <ion-button class="round-button">Botón 3</ion-button>
    <ion-button class="round-button">Botón 4</ion-button>
    <ion-button class="round-button"><ion-icon name="settings-outline" class="icon-button"></ion-icon></ion-button>
    <ion-button class="round-button"><ion-icon name="exit-outline" class="icon-button" (click)="redirectToLoginPage()"></ion-icon></ion-button>
  </div>
</ion-content>

