<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Ingrese su email
      <p class="subTitle">para recibir un link para cambiar su contraseña</p>
    </ion-title>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" placeholder="Ingrese su email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
    </div>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
